html {
  font-size: 62.5%;
}

.produtoImagem {
    width: 60%;
    height: auto;
    border: none;
}

.colorPicker {
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}

.corBotao {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.corBotao:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.imagemEColorPicker {
    display: flex;
    flex-direction: column;
    align-items: center;
}